<!-- Carousel -->
<div id="carousel-sec" class="row topcon bounceInLeft">
    <div class="col-md-12">
        <header class="post-content block-center">
            <h6>Ut Sagittis<sup>TM</sup></h6>
            <h1>Quisque cursus et, porttitor risus. Aliquam sem</h1>
        </header>

        <div id="carousel-ex" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-ex" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-ex" data-slide-to="1"></li>
                <li data-target="#carousel-ex" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="row">
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-1.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Quisque lorem", "Index", "Home")</h2>
                                <p>Quisque cursus et, porttitor risus. Aliquam hendrerit nulla </p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-2.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Integer ultrices", "Index", "Home")</h2>
                                <p>Sed vel lectus. Ut sagittis, ipsum. Nullam viverra consectetuer.</p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-3.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Aliquam erat", "Index", "Home")</h2>
                                <p>Cum sociis natoque penatibus et ultrices vullam wisi ultricies </p>
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-1.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Quisque lorem", "Index", "Home")</h2>
                                <p>Quisque cursus et, porttitor risus. Aliquam hendrerit nulla </p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-2.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Integer ultrices", "Index", "Home")</h2>
                                <p>Sed vel lectus. Ut sagittis, ipsum. Nullam viverra consectetuer.</p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-3.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Aliquam erat", "Index", "Home")</h2>
                                <p>Cum sociis natoque penatibus et ultrices vullam wisi ultricies </p>
                            </figcaption>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-1.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Quisque lorem", "Index", "Home")</h2>
                                <p>Quisque cursus et, porttitor risus. Aliquam hendrerit nulla </p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-2.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Integer ultrices", "Index", "Home")</h2>
                                <p>Sed vel lectus. Ut sagittis, ipsum. Nullam viverra consectetuer.</p>
                            </figcaption>
                        </div>
                        <div class="col-md-4 aligncenter">
                            <figure><img class="bordered" src="~/images/carousel-3.jpg" alt="img" title="image"></figure>
                            <figcaption class="caption-carousel">
                                <h2>@Html.ActionLink("Aliquam erat", "Index", "Home")</h2>
                                <p>Cum sociis natoque penatibus et ultrices vullam wisi ultricies </p>
                            </figcaption>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-ex" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-ex" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>
<!-- Carousel end -->
