<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/forIE")
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fractionslider")
    @Scripts.Render("~/bundles/scroller")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/init")
</body>
</html>
