<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/forIE")
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
	<a class="show-menu"><i class="fa fa-arrow-circle-left"></i></a>
	<div class="sidemenu side-hide">
		<a class="hide-menu"><i class="fa fa-arrow-circle-right"></i></a>
		<div class="block-center">
			<figure>
				<a href=""><img src="~/images/side-logo.png" alt="logo" title="Selly"></a>
			</figure>
		</div>
		<ul>
			<li>@Html.ActionLink("Lorem dolor", "Index", "Home")</li>
			<li>@Html.ActionLink("Gravida", "Index", "Home")</li>
			<li>@Html.ActionLink("Ut Sagittis", "Index", "Home")</li>
			<li>@Html.ActionLink("sign up", "Index", "Home")</li>
			<li>@Html.ActionLink("Vel Bibendum", "Index", "Home")</li>
		</ul>
		
		<div class="block-center">
            <a href="#" class="send-e"><i class='fa fa-envelope'></i></a>
		</div>
		
	</div>
	@Html.Partial("_TopBanner")
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/fractionslider")
    @Scripts.Render("~/bundles/scroller")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/init")
</body>
</html>
